#form {
    font-family: 'sans-serif';
    font-size : 24px;
    }
#submit {
    color : white;
    background-color : #fa8072;
    padding : 5px 20px;
    border-radius : 5px;
    margin-top: 20px;
}
#file{
    padding : 5px 200px;
}
body {
    text-align : center;
    background-color:#fcff8;
    font-family : 'Avenir Next', serif;
    font-weight : normal;
    line-height : 48px;
}
h1{
    color : #7c795d;
    font-size: 45px;
    margin: 0;
    font-weight: normal;
}
h6{
   color : #7c795d;
   font-size: 24px;
   margin: 0;
   font-weight: normal;
}
p{
    color : #7c795d;
    font-size: 16px;
}